*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    width:100vw;
    height:auto;
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas:
        "form" "bubbleContainer"
}
@media (max-width: 720px){
    body{
        width:720px;
    }
}

#formContainer{
    grid-area: "form";
    
}
#postForm{
    display:flex;
    flex-direction: column;
    gap: 1em;
    align-content: center;
    justify-content: center;
    padding: 1em;
}
#post{
    width:100%;
    height: 10em;
    overflow: auto;
}

.bubble{
    grid-area: "bubbleContainer";
    position: absolute;
    width: 200px;
    height: 150px;
    background-color: bisque;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 20%;
}
.bubbleHeader{
    font-size: 1.4em;
}
.bubbleDetail{
    overflow: auto;
}
.bubbleDescription{
    overflow: auto;
}

table, th, td {
    border: 1px solid black;
  }